.form-container {
    padding: 25px 15px;
}

label {
    font-family: Arial, sans-serif;
    color: #333;
}

input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    width: 50%;
    margin: 0px 20px;
}

button {
    background-color: #3F0EAB;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2D0894;
}