/* Estilizando a div com sombra */
.shadow-div {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px; /* Adicionando algum espaçamento interno */
    border-radius: 8px; /* Arredondando as bordas */
    max-width: 400px; /* Limitando a largura da div */
    margin: 0 auto; /* Centralizando a div horizontalmente */
}

/* Estilizando os rótulos */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilizando o h1 */
h1 {
    text-align: center; /* Centraliza horizontalmente */
    margin: 0; /* Removendo margens */
    padding: 0; /* Removendo padding */
}

/* Estilizando os campos de entrada */
input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    margin-bottom: 10px;
}

/* Estilizando os campos de entrada desabilitados */
input[type="text"][disabled] {
    background-color: #f0f0f0;
    /* color: #666; */
    border-color: #ccc;
}
